<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlypaindiary">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.secuso.privacyfriendlypaindiary.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.UserDetailsActivity"
            android:label="@string/user_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlypaindiary.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypaindiary.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlypaindiary.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypaindiary.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.DiaryEntryActivity"
            android:label="@string/new_diary_entry"
            android:parentActivityName="org.secuso.privacyfriendlypaindiary.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypaindiary.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypaindiary.activities.PainDiaryActivity"
            android:label="painDiaryActivity"
            android:parentActivityName="org.secuso.privacyfriendlypaindiary.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypaindiary.activities.MainActivity" />
        </activity>

    </application>

</manifest>